
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*border: 1px solid red;*/   
}

:root {
    --bluegray : #718f94;
    --aqua : #90b494;
    --lilita: #545775;
    --bold: 900;
    --medium:700;
    --regular: 400;
    --thin:300;
}

body {
    max-width: 100%;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}


li {
list-style: none;
}

header{
    background: transparent;
    padding: 0.15px;
}



/**menu**/
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;        
}

.logo {
    height: 1.5rem;
    width: auto;
}
    

.menu i {
    font-size: 1rem;
    color: #545775;
}

.container-items {
        width: 100%;
        order: 1;
}

.item{
    text-align: center;
    text-transform: lowercase;
    display: none;
}






/* navbar terminado*/
/*Section 1 home*/

.home-section {
    background:whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

.home-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-content h1{
    font-size: 2rem;
    font-weight: var(--bold)    
}

.home-content p{
    font-size: 0.8rem;
    text-align: center;
    margin: 1rem 0 4rem 0;
}

.btn-home {
    display: flex;
    flex-direction: row;
    background: var(--lilita);
    color: black ;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

.home-img {
    width: 60%;
    margin: auto;
}

/*Fin home section ahre */

.skills-section{
    padding: 8 rem 0;
    background: #90b494;
}

.skills-section h2 {
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
}

.description-section p {
    text-align: center;
    font-size: 1rem;
    max-width: 300px;
    margin: 2rem auto 2rem auto;
}

.card {
    display: flex;
    flex-direction: column;
    align-items:center;

}