
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   /* border: 1px solid red;*/  
}

:root {
    --bluegray : #718f94;
    --aqua : #90b494;
    --lilita: #545775;
    --bold: 900;
    --medium:700;
    --regular: 400;
    --thin:300;
}

body {
    max-width: 100%;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}



li {
list-style: none;
}

header{
    background: whitesmoke;
    padding: 0.15px;
    position: sticky;
    top: 0;
}




/**menu**/
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;        
}

.logo {
    height: 1.5rem;
    width: auto;
}
    

.menu i {
    font-size: 1rem;
    color: #545775;
}

.container-items {
        width: 100%;
        order: 1;
}

.item{
    text-align: center;    
    display: none;
}


/* navbar terminado*/
/*Section 1 home*/

.home-section {
    background:whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
    }

.home-content {
    font-size: 1.2rem;    
    padding: 2rem 0;
    text-align: center;  
}

.home-content h1{   
    font-size: 1.8rem;
    font-weight: var(--bold)    
}

.home-content p{
    font-size: 0.8rem; 
    margin: 1rem 1rem;
}

.btns {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    font-size: 0.8rem;
    gap: 1rem;
}

.btn-contact {           
    background: var(--lilita);
    color: whitesmoke ;
    padding: 0.5rem 0.5rem;
    border-radius: 0.5rem;
}

.btn-linkedin{
    background-color: white;
    color: #545775;
    padding: 0.5rem 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid var(--lilita);    
}

.btn-contact:hover {
    background: white;
    color: #545775;
    border: 1px solid var(--lilita);  
}

.btn-linkedin:hover {
    background: var(--lilita);
    color: white;
}


.home__img{
    display: flex;
    justify-content: center;
}

.micara {
    width: 60%; 
    height: auto;
    border-radius: 1rem;
}

/*Fin home section ahre */

/*Section mini description */

.description{
    background:lavender ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    }

.description-content{
    font-size: 1rem;
    margin: 1rem 1rem;

}

/*Fin mini description section */
/*Section Skills*/

.skills-section{
    padding: 10rem 0 ;
    background: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 1rem;
}

.skills-content h3 {
    color: #545775;
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
    padding-top: 1rem;
}

.skills-content p {
    font-size: 0.8rem;
    text-align: center;
    margin: 1rem 1.5rem;
}

.info-card{
    width: 25%;
    margin-bottom: 1rem;
}

.card-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    font-size: 0.8rem;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

/*Fin section skills*/

/*section 4 How*/

.how-section{
    padding: 10 rem 0;
    background: lavender;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 1rem;
}

.how-content h3{
    color: #545775;
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
    padding-top: 1rem;
}

.how-content p{
    font-size: 0.8rem;
    text-align: center;
    margin: 1rem 1.5rem;
}

.howcard{
    width: 25%;
    margin-bottom: 1rem;
}

/*fin section 4 */

/*Section 5 Portfolio*/

.portfolio-section{
    padding: 10 rem 0;
    background: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 1rem;
}

.portfolio-content h3{
    color: #545775;
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
    padding-top: 1rem;
}

.portfolio-content p{
    font-size: 0.8rem;
    text-align: center;
    margin: 1rem 1.5rem;
}

/*fin section 5 */

/*footer*/
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: lavender;
    padding: 8rem; 
    padding-top: 5rem;   
}

footer .title {

    height: 1.5rem;    
    margin-bottom: 4rem;
}

footer img{
    height: 1.5rem;
    width: auto;
}

.contacto {
    margin-bottom: 2rem;    
}

.contacto h3{
    font-size: 1rem;
}

.contacto p { 
    font-size: 0.7rem;
}

/*fin footer*/

/*mediaqueries desktop*/

/*@media screen and (min-width: 1024px) {}*/

@media (min-width: 1024px) {

/*menu*/  

body {
    font-weight: 300;
    
}


    .menu { 
        flex-wrap: nowrap;
        padding-top: 0.5rem;
        padding-left: 0.5rem;
    }
    .container-items {
        display: flex;
        justify-content: center;
        gap: 100px;       
        font-weight: 300px;
        font-size: small;
        font-size: var(--bold);

    }
    .item {
        display: flex;
    
    }
    .btn-container{
        display: none;
}

/*Section 2 Home*/



    .home-section{
        flex-direction: row;  
        justify-content: center;     
        gap: 80px;
        align-items: center;       
        padding-top: 3rem;        
    }

    .home-content{      
       /* background-color: #90b494; */
        max-width: 50%;
        padding-left: 6rem;
    }

    .home-content h1{
        text-align: left;
        padding: 1rem;
        font-size: 3rem;
    }

    .home-content p{
        text-align: left;
        font-size: 1rem;
        padding-right: 2rem ; 
        padding-bottom: 2rem;    
        }

    .btns {
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        font-size: 1.2rem;
        gap: 4rem;
        }
        
    .btn-contact {           
        background: var(--lilita);
        color: whitesmoke ;
        padding: 0.8rem 0.8rem;
        border-radius: 0.6rem;
        }
        
    .btn-linkedin{
        background-color: white;
        color: #545775;
        padding: 0.8rem 0.8rem;
        border-radius: 0.6rem;
        border: 1px solid var(--lilita);    
        }

    .home__img{
        /*background-color: aqua; */
        display: flex;
        justify-content: center;
        max-width: 50%;        
    }
    

    .micara {
        width: 40%;
        height: auto;
        border-radius: 2rem;
    }


    /*Section 2 */

    .description-content{
        font-size: 1rem;
        text-align: center;
        padding: 4rem;
        padding-left: 15rem;
        padding-right: 15rem;    
    }

    /*SEction 3 */

    .skills-section {
        padding-top: 3rem;
        padding-bottom: 10rem;
    }
    .skills-content h3 {
        font-size: 2rem;
        font-weight: 400;
    }

    .skills-content p {
        padding: 2rem 5rem;     
        font-size: 1rem;
    }

    .card-container{        
        flex-direction: row;
        justify-content: center;
        align-items: baseline;
        
    }


    /*Section 4*/

    .how-section {
        padding-top: 3rem;
        padding-bottom: 10rem;
    }
    .how-content h3 {
        font-size: 2rem;
        font-weight: 400;
    }

    .how-content p {
        padding: 2rem 5rem;     
        font-size: 1rem;
    }

    .card-container{        
        flex-direction: row;
        justify-content: center;
        align-items: baseline;
    }

/*Section 5 */

.how-section {
    padding-top: 3rem;
    padding-bottom: 10rem;
}
.how-content h3 {
    font-size: 2rem;
    font-weight: 400;
}

.how-content p {
    padding: 2rem 5rem;     
    font-size: 1rem;
}

.card-container{        
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}



    
}


